<!--
This launch file is include by other launch files, do not roslaunch directly.
This launches the necessary nodes for GPS navigation for a robot, when doing multirobot tasks
-->

<launch>
  <arg name="f"/>
  <arg name="robot_ip"/>
  <arg name="start"/>
  <node machine="$(arg robot_ip)" pkg="traxxas_node" type="driver.py" name="driver"/>
  <node machine="$(arg robot_ip)" pkg="proteus3_gps_hydro" type="gps" name="gps"/>
  <node machine="$(arg robot_ip)" pkg="proteus3_compass_hydro" type="compass" name="compass"/>
  <node machine="$(arg robot_ip)" pkg="outdoor_navigation" type="store_navigation_profile" name="store_navigation_profile"/>
  <node machine="$(arg robot_ip)" pkg="outdoor_navigation" type="outdoor_navigation_single.py" name="outdoor_navigation_single" args="$(arg f) $(arg start)" />
</launch>
