<launch>
  <!-- This assumes roscore is running on this machine -->
  <env name="ROS_MASTER_URI" value="http://$(env ROS_IP):11311"/>

  <machine name="42" address="10.11.12.42" user="ut" password="longhorn" env-loader="/opt/ros/hydro/pharos_env.sh"/>
  <machine name="43" address="10.11.12.43" user="ut" password="longhorn" env-loader="/opt/ros/hydro/pharos_env.sh"/>
  <machine name="47" address="10.11.12.47" user="ut" password="longhorn" env-loader="/opt/ros/hydro/pharos_env.sh"/>

  <group ns="42">
    <include file="$(find outdoor_navigation)/launch/includes/_single.launch"> 
      <arg name="robot_ip" value="42"/>
      <arg name="f" value="waypoints.csv"/>
      <arg name="start" value="0"/>
    </include>
  </group>

  <group ns="43">
    <include file="$(find outdoor_navigation)/launch/includes/_single.launch"> 
      <arg name="robot_ip" value="43"/>
      <arg name="f" value="waypoints.csv"/>
      <arg name="start" value="2"/>
    </include>
  </group>

  <group ns="47">
    <include file="$(find outdoor_navigation)/launch/includes/_single.launch"> 
      <arg name="robot_ip" value="47"/>
      <arg name="f" value="waypoints.csv"/>
      <arg name="start" value="4"/>
    </include>
  </group>

</launch>
