<!--
To call this file, run the following command in the terminal
	roslaunch outdoor_navigation navigate.launch f:="filename"
filename is the name of the file in ~/ros_outdoor_navigation/data/
-->

<launch>
  <arg name="f" default="waypoints.csv"/>
  <arg name="start" default="0"/>
  <node pkg="proteus3_gps_hydro" type="gps" name="gps"/>
  <node pkg="proteus3_compass_hydro" type="compass" name="compass"/>
  <node pkg="outdoor_navigation" type="store_navigation_profile" name="store_navigation_profile"/>
  <node pkg="outdoor_navigation" type="outdoor_navigation_single.py" name="outdoor_navigation_single" output="screen" args="$(arg f) $(arg start)"/>
</launch>
